<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- Main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Right side Div -->
                    <div class="col-md-6 col-12 main-header-right align_item_center">
                        <figure class="selfimg">
                            <img src="Images/ab.jpg" alt="Self" class="img-fluid" title="Himanshu">
                        </figure>
                    </div>

                    <!-- Left side Div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to Weather application</p>
                        <h1>I am a <span class="text-color"> Mern stack Developer</span> and student</h1>
                        
                        <h1>I have also worked as<span class="text-color"> Full stack Developer </span> using Spring Boot and React </h1>
                        <a href="/about"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer code -->
    {{>footer}}
</body>

</html>